body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
	cursor: pointer;
}

.body-content {

	max-width: 900px;
	margin: 45px auto;

}

.search-bar {
	background-color: #232323;
	padding: 35px 15px;
	text-align: center;
}

.search-bar input[type="text"] {
	padding: 14px 15px;
	font-size: 18px;
	width: 70%;
	border: none;
	max-width: 640px;
	border-radius: 500px;
	margin-right: 15px;
}

.search-bar button {
	font-size: 14px;
	border: none;
	background-color: #9951ff;
	padding: 10px 24px;
	border-radius: 6px;
}

.error {

	color: #fc0006;
	margin-top: 20px;

}

.top-control-bar {
	padding: 15px;

}

.top-control-bar button {

	padding: 15px;

}